{% include 'doctor_header.html' %}
<section style="background: url(/static/images/m2.jpg) center center no-repeat;
  background-size:cover;
  background-attachment: fixed;
  color: #cfcfcf;height: auto;
        margin-top:80px;height: 1000px" id="home">
       <div class="overlay">
           <div class="container">
               <div class="row">
                   <div class="main-heading-content col-md-12 col-sm-12 text-center">
        <h1 class="main-heading-title">WELCOME TO  <span class="main-element themecolor" data-elements="ADMIN'S HOME,HOME,HOME"></span></h1>
    <!--     <p class="main-heading-text">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore,<br/>cum soluta nobis est eligendi optio cumque nihil impedit quo facilis</p> -->
      
      </div>
               </div>
           </div>
           <br><br>

       </div>  
      
   </section>

{% include 'footer.html' %}