<!DOCTYPE html>
<!--
++++++++++++++++++++++++++++++++++++++++++++++++++++++
AUTHOR : Vijayan PP
PROJECT :NIM
VERSION : 1.1
++++++++++++++++++++++++++++++++++++++++++++++++++++++
-->
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=devidev-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>MEDICAL DELIVERY SYSTEM</title>
  
  <!-- [ FONT-AWESOME ICON ] 
        =========================================================================================================================-->
  <link rel="stylesheet" type="text/css" href="/static/library/font-awesome-4.3.0/css/font-awesome.min.css">

  <!-- [ PLUGIN STYLESHEET ]
        =========================================================================================================================-->
  <link rel="shortcut icon" type="image/x-icon" href="/static/images/icon.png">
  <link rel="stylesheet" type="text/css" href="/static/css/animate.css">
  <link rel="stylesheet" type="text/css" href="/static/css/owl.carousel.css">
        <link rel="stylesheet" type="text/css" href="/static/css/owl.theme.css">
  <link rel="stylesheet" type="text/css" href="/static/css/magnific-popup.css">
  <!-- [ Boot STYLESHEET ]
        =========================================================================================================================-->
  <link rel="stylesheet" type="text/css" href="/static/library/bootstrap/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="/static/library/bootstrap/css/bootstrap.css">
        <!-- [ DEFAULT STYLESHEET ] 
        =========================================================================================================================-->
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <link rel="stylesheet" type="text/css" href="/static/css/responsive.css">
  <link rel="stylesheet" type="text/css" href="/static/css/color/rose.css">
        
</head>
<body >
<!-- [ LOADERs ]
================================================================================================================================--> 
    <div class="preloader">
    <div class="loader theme_background_color">
        <span></span>
      
    </div>
</div>
<!-- [ /PRELOADER ]
=============================================================================================================================-->
<!-- [WRAPPER ]
=============================================================================================================================-->
<div class="wrapper">
  <!-- [NAV]
 ============================================================================================================================-->    
   <!-- Navigation
    ==========================================-->
    <nav  class=" nim-menu navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="/">MEDICIN<span class="themecolor">E</span></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">HOME</a></li>
            <li><a  href="login">LOGIN</a></li>
            <!-- <li><a  href="dboyreg">DELIVERY BOY REGISTRATION</a></li> -->
           <!--  <li><a href="#three" class="page-scroll">Team</a></li>
            <li><a href="#four" class="page-scroll">Inspiration</a></li>
            <li><a href="#five" class="page-scroll">Status</a></li>
            <li><a href="#six" class="page-scroll">Testimonials</a></li>
             <li><a href="#seven" class="page-scroll">Services</a></li>
            <li><a href="#eight" class="page-scroll">Contact</a></li> -->
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>




<!-- 
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<table border="1">
  <tr>
    <th><a href="/">HOME</a></th>
    <th><a href="login">LOGIN</a></th>
    <th><a href="dboyreg">DELIVERY BOY REGISTRATION</a></th>
    
  </tr>
</table>
<br>
 -->